---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Sobre mí">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre mí</Fragment>
      <Fragment slot="desc">Conoce al experto en programación y asesorías universitarias.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Impulsando tu conocimiento en programación.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Soy Abraham Cordero, un apasionado de la programación con más de 7 años de experiencia en el desarrollo web y en la enseñanza de programación. Mi objetivo es ayudarte a alcanzar tus metas académicas y profesionales a través de asesorías personalizadas y clases prácticas en programación.
      </p>
      <p class="text-lg leading-relaxed text-slate-500 mt-4">
        Con un enfoque en la aplicación práctica y el desarrollo de habilidades técnicas, ofrezco una amplia gama de servicios que incluyen asesorías universitarias en programación y clases en diversas tecnologías. Estoy comprometido en proporcionar una formación de alta calidad que te prepare para los desafíos del mundo tecnológico.
      </p>
    </div>
  </Container>
</Layout>
