---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const advisoryPricing = [
  {
    name: "Asesoría Básica",
    price: "$5/hora",
    popular: false,
    features: [
      "Asesoría personalizada por hora",
      "Planificación de proyectos",
      "Definición de tecnologías",
      "Planes de trabajo",
    ],
    button: {
      text: "Solicita una Consulta",
      link: "https://www.instagram.com/abprogramador",
    },
  },
  {
    name: "Asesoría Avanzada",
    price: "$12",
    popular: true,
    features: [
      "3 Horas de Asesoría",
      "Consultas por Email y Video",
      "Soporte Prioritario",
      "Material Adicional",
    ],
    button: {
      text: "Solicita una Consulta",
      link: "https://www.instagram.com/abprogramador",
    },
  },
];

const systemPricing = [
  {
    name: "Elaboración de Sistemas - Plan 1",
    price: "$200",
    popular: false,
    features: [
      "Autenticación integrada",
      "4 módulos gestionables",
      "Roles y permisos configurables",
      "No incluye alojamiento",
    ],
    button: {
      text: "Solicita más Información",
      link: "https://www.instagram.com/abprogramador",
    },
  },
  {
    name: "Elaboración de Sistemas - Plan 2",
    price: "$400",
    popular: true,
    features: [
      "Autenticación integrada",
      "10 módulos gestionables",
      "Roles y permisos configurables",
      "No incluye alojamiento",
    ],
    button: {
      text: "Solicita más Información",
      link: "https://www.instagram.com/abprogramador",
    },
  },
  {
    name: "Elaboración de Sistemas - Plan 3",
    price: "A convenir",
    popular: false,
    features: [
      "Características personalizadas a convenir",
      "Basado en las necesidades del cliente",
      "Incluye autenticación y módulos gestionables",
    ],
    button: {
      text: "Solicita una Cotización",
      link: "https://www.instagram.com/abprogramador",
    },
  },
];
---

<Layout title="Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc">
        Encuentra los planes que mejor se adaptan a tus necesidades de
        desarrollo y asesoría.
      </Fragment>
    </Sectionhead>

    <section class="mt-16">
      <h2 class="text-3xl font-semibold mb-6">Precios de Asesorías</h2>
      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-screen-lg">
        {advisoryPricing.map((item) => <PricingCard plan={item} />)}
      </div>
    </section>

    <section class="mt-16">
      <h2 class="text-3xl font-semibold mb-6">
        Precios de Elaboración de Sistemas
      </h2>
      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 mx-auto max-w-screen-lg">
        {systemPricing.map((item) => <PricingCard plan={item} />)}
      </div>
    </section>
  </Container>
</Layout>
