---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Abraham Cordero foto"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      style="border-radius:50%; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-slate-800">
      Abraham Cordero
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl leading-relaxed">
      Soy un desarrollador web con más de 7 años de experiencia creando
      aplicaciones y sitios web personalizados. Mi especialidad incluye
      soluciones para ecommerce, sistemas de gestión, y aplicaciones web,
      utilizando herramientas como Laravel, WordPress, jQuery, entre otras.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://www.instagram.com/abprogramador"
        target="_blank"
        class="flex gap-2 items-center justify-center px-5 py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition ease-in-out duration-200"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Seguir en Instagram
      </Link>
      <Link
        href="https://github.com/abrahamicm"
        target="_blank"
        rel="noopener"
        class="flex gap-2 items-center justify-center px-5 py-3 border border-gray-300 text-gray-800 rounded-md hover:bg-gray-100 transition ease-in-out duration-200">
        <Icon class="text-black w-5 h-5" name="bx:bxl-github" />
        Ver Repositorio en GitHub
      </Link>
    </div>
  </div>
</main>
